@inherits LayoutComponentBase

<PageTitle>AniNexus</PageTitle>

<div class="page">
    <NavMenu />
    <main>
        <article class="is-flex is-flex-direction-column" style="height:100vh;overflow-x:hidden">
            @Body
        </article>
    </main>
</div>
