.navbar {
    transition: all linear .25s
}

body.dark {

    & .navbar {
        //background-color: var(--color-dark-1);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1025%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1440 0L878.89 0L1440 86.62z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M878.89 0L1440 86.62L1440 108.32000000000001L792.26 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M792.26 0L1440 108.32000000000001L1440 359.53000000000003L300.78999999999996 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M300.78999999999996 0L1440 359.53000000000003L1440 498.81000000000006L132.85999999999996 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L579.14 560L0 549.41z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 549.41L579.14 560L742.0799999999999 560L0 509.54999999999995z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 509.55L742.0799999999999 560L1046.1399999999999 560L0 198.40000000000003z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 198.40000000000003L1046.1399999999999 560L1052.78 560L0 71.16000000000004z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1025'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1026'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(21%2c 67%2c 96%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        background-size: 100% auto;
    }

    & .navbar-item {
        color: white !important;
    }
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.theme-toggle {
    position: relative;
    display: block;
    overflow: hidden;

    & > input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 2;

        &:checked + .theme-toggle-icon {
            & > .theme-toggle-moon {
                transform: translate(-50%, -50%);
                opacity: 100%;
            }

            & > .theme-toggle-sun {
                transform: translate(-50%, 150%);
                opacity: 100%;
            }
        }
    }

    & > .theme-toggle-icon {
        display: block;
        position: relative;
        width: 36px;
        height: 36px;
        border: 1px solid #e3e3e3;
        border-radius: 50%;
        font-size: 1.25rem;

        & > .theme-toggle-sun,
        & > .theme-toggle-moon {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            opacity: 0%;
            transition: transform .3s, opacity .3s;
            color: #FFD770;
            pointer-events: none;

            & path,
            & circle {
                fill: #FFD770;
            }
        }

        & > .theme-toggle-sun {
            transform: translate(-50%, -50%);
            opacity: 100%;
        }

        & > .theme-toggle-moon {
            transform: translate(-50%, -150%);
        }
    }
}
