<Modal @ref="Modal" ShowBackdrop="false">
	<ModalContent Centered="true" Size="ModalSize.Small">
		<ModalHeader>
			@if (!string.IsNullOrWhiteSpace(Title))
			{
				<ModalTitle>@Title</ModalTitle>
			}
			<CloseButton />
		</ModalHeader>
		<ModalBody>
			<Text>@Text</Text>
		</ModalBody>
		<ModalFooter>
			<Button Color="Color.Primary" Clicked="@Close">Close</Button>
		</ModalFooter>
	</ModalContent>
</Modal>

@code {
	[Parameter]
	public string? Title { get; set; }

	[Parameter]
	public string? Text { get; set; }

	private Modal Modal = default!;

	public void Show()
	{
		Modal.Show();
	}

	public void Show(string text)
	{
		Text = text;
		Show();
	}

	public void Show(string title, string text)
	{
		Title = title;
		Show(text);
	}

	public Task Close()
	{
		return Modal.Close(CloseReason.None);
	}
}
